{% load static %}
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<header class="section-header">
<div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12 text-lg-right text-md-center text-sm-center text-xs-center mt-auto mb-auto">
        <a href="https://github.com/drutkoowski" style="font-size: 1.5rem">Github <i class="fa-brands fa-github"></i></a>
      </div>

        <div class="col-lg-2 col-md-12 col-sm-12">
             <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" style="height: 100%;box-sizing: border-box;max-width: 100%;max-height: 80%;width: 100%;">
             </a>
        </div>

        <div class="col-lg-5 col-md-12 col-sm-12 text-lg-left text-md-center text-sm-center text-xs-center mt-auto mb-auto">
            <a href="mailto:d.rutkowski2000@gmail.com" target="_blank" style="font-size: 1.5rem">Email <i class="fa-solid fa-envelope"></i></a>
        </div>

</div>

<section class="">
	<div class="container">

            <nav class="navbar navbar-expand-lg navbar-primary bg-primary rounded"> <a class="navbar-brand text-light" href="{% url 'home' %}" data-abc="true">Django Ecommerce</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <a href="{% url "store" %}" class="btn btn-outline-primary text-light ml-lg-2 p-sm-0 p-0">Products</a> </li>
                <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto text-light">
                    <li class="nav-item mt-2 p-0">
                        <div class="category-wrap dropdown d-inline-block float-left ">
                            <button type="button" class="btn btn-primary-light dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bars"></i> All category
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-primary-light" href="{% url "store" %}">All products</a>
                                {% for category in links %}
                                <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
                                {% endfor %}
                            </div>
                        </div>  <!-- category-wrap.// -->
                    </li>


                    <li class="nav-item mt-2 ml-lg-4">
                            {% if user.id is None %}
                            <div class="widget-header ">
                                <small class="title text-light">Welcome guest!</small>
                                <div>
                                    <a class="text-light" href="{% url "login" %}">Sign in</a> <span class="dark-transp"> | </span>
                                    <a class="text-light" href="{% url "register" %}"> Register</a>
                                </div>
                            </div>
                            {% else %}
                                <div class="widget-header">
                                <small class="title">Welcome {{ user.first_name |title}}!</small>
                                <div>
                                    <a class="text-light" href="{% url "dashboard" %}">Dashboard</a> <span class="dark-transp"> | </span>
                                    <a class="text-light" href="{% url "logout" %}"> Logout</a>
                                </div>
                            </div>
                            {% endif %}
                    </li>
                </ul>
                    <form action="{% url "search" %}" class="search mt-2" method="get">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">

                            <div class="input-group-append">
                              <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                        </div>
                    </form> <!-- search-wrap .end// -->
                    <a href="{% url "cart" %}" class="widget-header mt-2">
						<div class="icon icon-sm rounded-circle border text-light"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
						<span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
					</a>
            </div>
        </nav>


	</div> <!-- container.// -->
</section> <!-- header-main .// -->




</header> <!-- section-header.// -->