{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<!--suppress ALL -->
    <div class="container mt-5">
        <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
                  <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                  </ul>

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                       <div class="carousel-item active">
                       <img class="rounded" src="{% static 'images/carousel_item4.jpg' %}" style="width: 100%;height: 40vh!important;" alt="Carousel Item">
                    </div>
                    <div class="carousel-item">
                       <img class="rounded" src="{% static 'images/carousel_item2.jpg' %}" style="width: 100%;height: 40vh!important;" alt="Carousel Item">
                    </div>
                      <div class="carousel-item">
                       <img class="rounded" src="{% static 'images/carousel_item3.jpg' %}" style="width: 100%;height: 40vh!important;" alt="Carousel Item">
                        </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>

                </div>
    </div>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url "store" %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title text-primary">Popular products</h3>
</header>


<div class="row">
    {% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
				<div class="price mt-1">${{ product.price }}</div> <!-- price-wrap.// -->
                <div class="rating-star">
                                <span>
                                    <i class="{% if product.averageReview < 0.5 %}fa-regular fa-star{% elif product.averageReview >= 0.5 and product.averageReview < 1%}fa-solid fa-star-half{% elif product.averageReview >= 1 %}fa-solid fa-star{% endif %}" aria-hidden="true"></i>
                                    <i class="{% if product.averageReview < 1.5 %}fa-regular fa-star{% elif product.averageReview >= 1.5 and product.averageReview < 2%}fa-solid fa-star-half{% elif product.averageReview >= 2 %}fa-solid fa-star{% endif %}" aria-hidden="true"></i>
                                    <i class="{% if product.averageReview < 2.5 %}fa-regular fa-star{% elif product.averageReview >= 2.5 and product.averageReview < 3%}fa-solid fa-star-half{% elif product.averageReview >= 3 %}fa-solid fa-star{% endif %}" aria-hidden="true"></i>
                                    <i class="{% if product.averageReview < 3.5 %}fa-regular fa-star{% elif product.averageReview >= 3.5 and product.averageReview < 4%}fa-solid fa-star-half{% elif product.averageReview >= 4 %}fa-solid fa-star{% endif %}" aria-hidden="true"></i>
                                    <i class="{% if product.averageReview < 4.5 %}fa-regular fa-star{% elif product.averageReview >= 4.5 and product.averageReview < 5%}fa-solid fa-star-half{% elif product.averageReview >= 5 %}fa-solid fa-star{% endif %}" aria-hidden="true"></i>
                                </span>

                        </div>
			</figcaption>
		</div>
	</div> <!-- col.// -->
    {% endfor %}
</div> <!-- row.// -->

</div>
</section>



</body>
</html>
{% endblock %}